@model WebApiClient.Models.TopeModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TopeModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TopMinDesc" class="control-label">Tope minimo de descripcion</label>
                <input asp-for="TopMinDesc" class="form-control" />
                <span asp-validation-for="TopMinDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopMaxDesc" class="control-label">Tope maximo de descripcion</label>
                <input asp-for="TopMaxDesc" class="form-control" />
                <span asp-validation-for="TopMaxDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopMinNom" class="control-label">Tope minimo de nombre</label>
                <input asp-for="TopMinNom" class="form-control" />
                <span asp-validation-for="TopMinNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopMaxNom" class="control-label">Tope maximo de nombre</label>
                <input asp-for="TopMaxNom" class="form-control" />
                <span asp-validation-for="TopMaxNom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<p id="Mensaje">@ViewBag.Mensaje</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
