<!-- Vista general que permitirá a todos los usuarios ser bienvenidos y comprobar si han iniciado sesión.-->

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@ViewBag.msgBienvenida</p>
</div>